<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex align-items-center justify-content-center h-100">
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                            class="img-fluid" alt="Phone image">
                    </div>
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <h2 class="pb-4">Sign In</h2>

                        <% if(typeof message != 'undefined'){ %>
                            <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between align-items-center  py-2 px-3" role="alert">
                                <strong><%= message %></strong>
                                <button type="button" class="btn close border-0" data-bs-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                        <% } %>

                        <form action="/login" method="post">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email address</label>
                                <input type="email" name = "email" value="<%= typeof email != 'undefined' ? email : '' %>" class="form-control form-control-lg rounded-0" required/>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" name="password" class="form-control form-control-lg rounded-0" required/>
                            </div>

                            <!--  Submit Button  -->
                            <button type="submit" class="btn btn-warning btn-lg btn-block w-100 rounded-0">Sign in</button>
                            <p class="mt-1">New User? <a href="/register" style="text-decoration : none;">Start here</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <%- include('includes/foot') %>