<%- include('includes/head') %>
<%- include('includes/nav') %>
<%- include('includes/categoryBar') %>
<div id="product-container" class="container-fluid d-flex flex-wrap p-3 justify-content-center" style="z-index: 0;">
    <%- include('includes/productDisplay') %>
</div>

<%- include('includes/foot') %>