<%- include('includes/head') %>

    <nav class="navbar navbar-lg navbar-light bg-light position-fixed w-100" style="top: 0;height: 50px;z-index: 2;">
        <div class="container-fluid">
            <a href="/" class="link-dark"><i class="fa-solid fa-arrow-left p-2" style="font-size: 25px;"></i></a>
        </div>
    </nav>

    <section class="container-fluid row d-flex justify-content-center" style="margin: 50px 0px;">
        <div class="col-7 mt-4 py-2 justify-content-center rounded p-0"
            style="background-color: rgb(255, 255, 255);border: 1px solid grey;">
            <h4 class="text-center my-2">POST YOUR AD</h4>
            <hr>
            <form action="/sell" method="post">
                <% if(typeof message !='undefined' ){ %>
                    <div class="alert alert-success alert-dismissible fade show d-flex justify-content-between align-items-center  py-2 px-3 mx-4"
                        role="alert">
                        <strong>
                            <%= message %>
                        </strong>
                        <button type="button" class="btn close border-0" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                        <div class="px-4" style="width: 60%;">
                            <h5>INCLUDE SOME DETAILS</h5>
                            <div class="mb-3">
                                <label for="brand" class="form-label mb-1">Brand*</label>
                                <input type="text" class="form-control rounded-0 shadow-none" name="brand"
                                    maxlength="30" required>
                            </div>
                            <div class="mb-3">
                                <label for="title" class="form-label mb-1 ">Ad Title*</label>
                                <input type="text" class="form-control rounded-0 shadow-none" name="title" minlength="4"
                                    maxlength="50" required>
                            </div>
                            <div class="mb-3">
                                <label for="desc" class="form-label mb-1 ">Description*</label>
                                <textarea name="desc" class="form-control rounded-0 shadow-none" rows="4" minlength="10"
                                    maxlength="150" style="resize: none;" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="category" class="form-label mb-1 ">Category*</label>
                                <select class="form-control custom-select rounded-0 shadow-none"
                                    style="cursor: pointer;" name="category" required>
                                    <option selected>Choose...</option>
                                    <option value="vehicle">Vehicle</option>
                                    <option value="mobile">Mobile</option>
                                    <option value="electronics">Electronics & Appliances</option>
                                    <option value="fashion">Fashion</option>
                                    <option value="furniture">Furniture</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="px-4" style="width: 60%;">
                            <h5>SET A PRICE</h5>
                            <div class="mb-3">
                                <label for="price" class="form-label mb-1 ">Price*</label>
                                <input type="number" min="1" class="form-control rounded-0 shadow-none" name="price"
                                    required>
                            </div>
                        </div>
                        <hr>
                        <div class="px-4" style="width: 60%;">
                            <h5>UPLOAD PHOTO</h5>
                            <div class="mb-3">
                                <label for="imgUrl" class="form-label mb-1 container p-0">Image URL*</label>
                                <input type="text" class="form-control rounded-0 shadow-none" name="imgUrl" required>
                                <!-- <input type="file" name="imgUrl" class="form-control rounded-0 shadow-none"> -->
                            </div>
                        </div>
                        <hr>
                        <div class="px-4" style="width: 60%;">
                            <h5>COMFIRM YOUR LOCATION</h5>
                            <div class="mb-3">
                                <label for="city" class="form-label mb-1 ">City*</label>
                                <select class="form-control custom-select rounded-0 shadow-none"
                                    style="cursor: pointer;" name="city" required>
                                    <option selected>Choose...</option>
                                    <option value="gwalior">Gwalior</option>
                                    <option value="indore">Indore</option>
                                    <option value="bhopal">Bhopal</option>
                                    <option value="delhi">Delhi</option>
                                    <option value="banglore">Banglore</option>
                                    <option value="mumbai">Mumbai</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="px-4" style="width: 60%;">
                            <h5 class="mb-3">REVIEW YOUR DETAILS</h5>
                            <div class=" d-flex w-100 mb-3">
                                <div>
                                    <div class="text-white d-flex justify-content-center align-items-center"
                                        style="width: 80px;height: 80px;background-color: rgb(75, 75, 116);border-radius: 50%;font-size: 30px;">
                                        <%= user.name.split("")[0] %>
                                    </div>
                                </div>
                                <div class="mb-3 ms-4 w-100">
                                    <label for="sellerName" class="form-label mb-1 ">Name</label>
                                    <input type="text" class="form-control rounded-0 shadow-none" maxlength="30"
                                        name="sellerName" value="<%= user.name %>">
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <label>Your phone number</label>
                                <p>+91<%= user.mobile %>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="p-4">
                            <button type="submit" class="btn btn-warning px-5 rounded-0">Submit</button>
                        </div>
            </form>
        </div>
    </section>

    <%- include('includes/foot') %>